@use 'sass:color';

$font-family-sans-serif: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-serif: 'Georgia','Times New Roman',serif;

$cv-bg: #fff;
$cv-corporate: #333;
$cv-bg-section: #667f93;
$cv-bg-header-footer: #667f93;
$cv-text-header-footer: #fff;
$cv-title-block: #fff;

$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;

@mixin media($media) {
  @if $media == xs {
    @media (max-width: $breakpoint-sm) { @content; }
  }
  @else if $media == sm {
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) { @content; }
  }
  @else if $media == md {
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content; }
  }
  @else if $media == lg {
    @media (min-width: $breakpoint-lg) { @content; }
  }
}

@mixin flex {
  border-color: #333;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  @include media(xs) {
    flex-direction: column;
  }
  @include media(sm) {
    flex-direction: column;
  }
}

@mixin flex-fecha {
  width: 90%;
  @include media(md) {
    width: 25%;
  }
  @include media(lg) {
    width: 25%;
  }
}

@mixin flex-datos {
  width: 90%;
  @include media(md) {
    width: 75%;
  }
  @include media(lg) {
    width: 75%;
  }
}
